$font-base: 'Montserrat', sans-serif;
$font-italic: 'Kaushan Script', cursive;
$font-roboto: 'Roboto', sans-serif;
$color-base: #999999;
header{
  padding-bottom: 100px;
}
.wrap{
  max-width: 1200px;
  margin: 0 auto;
}
.nav{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-top: 22px;
  position: relative;
  a{
    text-decoration: none;
    color: #95E1D3;
    font-family: $font-base;  
    padding-bottom: 12px;
  }
}
.logo{
  font-weight: 700;
  font-size: 30px;  
}
.menu__list{
  width: 490px;
  display: flex;
  justify-content: space-between;
  font-size: 16px;
}
.menu__item{
  margin-left: 50px;
}
.menu__list a::after{
  content: "";
  display: block;
  height: 3px;
  background-color: rgb(243, 129, 129);
  margin-top: 12px;
  opacity:0;
  visibility: hidden;  
  transition: 0.2s linear;
}
.menu__list a{
  text-transform: uppercase;
  transition: 0.2s linear;

}
.menu__list a:hover{
  color: rgb(243, 129, 129);
  transition: 0.2s linear;
}
.menu__list a:hover::after{
  visibility: visible;
  opacity:1;
  transition: 0.2s linear;
}  
.head__section{
  font-family: $font-base;
  margin: 0 auto;
  width: max-content;
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  text-transform: uppercase;
  line-height: 42px;
}
.italic{
  font-family: $font-italic;
  font-size: 24px;
  text-transform: none;
  display: block;
}
h2::after{
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background:rgb(243, 129, 129);
  margin: 34px auto 52px;
}
.servis__list{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.icon-1{
  background-image: url(../images/sarvices/1fotograph.png);  
}
.icon-2{
  background-image: url(../images/sarvices/2design.png);
}
.icon-3{
  background-image: url(../images/sarvices/3comp.png);
}
.icon-4{
  background-image: url(../images/sarvices/4ceo.png);
}
.icon-5{
  background-image: url(../images/sarvices/5dom.png);
}
.icon-6{
  background-image: url(../images/sarvices/6digital.png);
}
.servis__card:hover{
  -transition: background-size 0.2s ease-in;
  background-size: 12% auto;
}
.servis__card{
  width: 382px;
  padding-left: 80px;
  margin-bottom: 98px;
  background-size: 10%;
  transition: background-size 0.2s ease-in;  
  background-repeat: no-repeat;
  background-position: left 20px top;
  h3{
    font-family: $font-base;
    font-size: 14px;
    font-weight: normal;
    text-transform: uppercase;
    margin-bottom: 20px;
    color: #333333;
  }
  p{
    font-family: $font-roboto;
    font-size: 15px;
    color: $color-base;
  }
}
.team{
  padding-bottom: 80px;
  border-bottom: 2px solid #E5E5E5;
  h2+p{
    font-family: $font-base;
    color: $color-base;
    width: 78%;
    margin: 0 auto 72px;
    text-align: center;
  }
}
.team__list{
  display: flex;
  justify-content: space-between;
}
.team__list__item{
  h4{
   font-family: $font-base;
   font-size: 14px;
   font-weight: normal;
   color: #333333; 
   padding-bottom: 10px;
   width: max-content;
   margin: 0 auto;
   text-transform: uppercase;
  }
  h4+p{
    width: max-content;
    margin: 0 auto;
    font-family: $font-roboto;
    font-style: italic;
    font-weight: 300;
  }
}
.wrap__for__teamcard{
  position: relative;
  margin-bottom: 28px;
}
.overlay__card{
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient( 90deg, rgba(252,227,138,0.9) 0%, rgba(243,129,129,0.9) 100%);
  visibility: hidden;
  transform: translate(0px,0px);
  transition: 0.2s linear;
}
.overlay__list__icon{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 100%;
  align-items: center;
}  
.overlay__icon_item{
  padding: 1px;
  a{
    width: 56px;
    height: 56px;    
    img{
      background-color: rgb(252, 227, 138);
    }
  }
}
.overlay__icon_item:hover{
  a{
    img{
      background-color: #95E1D3;
      transition: 0.2s linear; 
      opacity: 1;
    }
  }
}
.foto__team{
  transform: translate(0px,0px);
  transition: 0.2s linear;
}
.wrap__for__teamcard:hover{
  .overlay__card{
    visibility: visible;
    box-shadow: 10px 10px 0 0 #95e1d3;
    transform: translate(-10px,-10px);
    transition: 0.2s linear;
  }
  .foto__team{
    transform: translate(-10px,-10px);
    transition: 0.2s linear;
  }
}
.foot{
  display: flex;
  padding: 10px 0;
  justify-content: space-between;
  align-items: center;
  font-family: $font-base;
  font-size: 14px;
}
.foot a{
  text-decoration: none;
  color: #f38181;
}
.form{
  display: flex;
  input{
    width: 230px;
    height: 40px;
    font-family: $font-roboto;
    font-style: italic;
    font-size: 15px;
    font-weight: 300;
    outline: none;
    padding-left: 15px;
    margin-right: 10px;
  }
  button{
    border: none;
    background: #95e1d3;
    font-family: $font-base;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
    width: 150px;
    cursor: pointer;
  }
} 